body {
    background-color: #f6eec7;
}

.d {
    text-align: center;
    padding-top: 10%;
    font-family: alegreya sans sc light;
    color: #d15a7c;
    font-size: 20px;
}

h1 {
    margin-bottom: -10;
}

.Explore_our_portfolio {
    display: inline-block;
    border: solid;
    color: #ee8972;
    background-color: #f6eec7;
    text-align: center;
    padding: 1 10 1 10;
    font-size: 25px;
    font-family: aref_menna;
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 30px;
    cursor: pointer;
    /* transition: all 0.5s; */
    text-decoration: none;
}

.Explore_our_portfolio span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
}

.Explore_our_portfolio:hover {
    border: solid;
    color: white;
    background-color: #ee8972;
    box-shadow: 0 8px 16px 0 rgba(82, 3, 3, 0.2), 0 6px 20px 0 rgba(189, 46, 46, 0.19);
    transition: 0.2s;
}

.Explore_our_portfolio span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    /* transition: 0.5s; */
}

.Explore_our_portfolio:hover span {
    padding-right: 25px;
}

.Explore_our_portfolio:hover span:after {
    opacity: 1;
    right: 0;
}

.nkw {
    max-width: 100%;
    height: 250;
    margin: 150 auto -100 auto;
    display: block;
}

.btn .Button {
    background-color: #f6eec7;
    border: none;
    color: #fdb524;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Comic Sans MS;
    font-size: 16px;
    cursor: pointer;
    /* float: right; */
}

.btn .Button:hover {
    color: rgb(34, 40, 49);
    transition: 0.7s
}

.btn {
    margin: -120 50 -10 auto;
}

.Start_Your_Project {
    background-color: #f6eec7;
    border: solid;
    border-radius: 0;
    border-width: 2;
    color: #fdb524;
    padding: 10px 10;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Comic Sans MS;
    cursor: pointer;
    /* float: right; */
    margin-left: 15;
}

.Start_Your_Project:hover {
    border: solid;
    border-color: #fdb524;
    color: white;
    /* color: rgb(34, 40, 49); */
    background-color: #fdb524;
    border-width: 2;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(82, 3, 3, 0.2), 0 6px 20px 0 rgba(189, 46, 46, 0.19);
}

.divstyle1 {
    background-color: #d15a7c;
    color: white;
    font-size: 20px;
    padding: 10% 10% 10% 15%;
    font-family: ara hamah sahet alassi;
}

.divstyle2 {
    background-color: #ee8972;
    color: white;
    font-size: 20px;
    padding: 10% 10% 10% 15%;
    font-family: ara hamah sahet alassi;
}

.divhead {
    font-size: 60;
    font-family: ara hamah kilania;
    line-height: 100%;
    margin: -100 0 0 100;
    padding-bottom: 10%;
}

.dh1 {
    height: 125px;
}

.dh2 {
    height: 126px;
}

.divbody {
    height: 140px;
}

.divgrid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.S_idea1 {
    /* display: inline; */
    width: 15%;
}

.S_idea2 {
    /* display: inline; */
    width: 17%;
    padding-top: 2.45%;
}

.journey {
    border: solid;
    border-radius: 100px;
    border-width: 2;
    color: #ffffff;
    padding: 10px 10;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Comic Sans MS;
    cursor: pointer;
}

.j1 {
    background-color: #d15a7c;
}

.j1:hover {
    border: solid;
    border-color: #ffffff;
    color: #d15a7c;
    /* color: rgb(34, 40, 49); */
    background-color: #ffffff;
    border-width: 2;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.205);
}

.j2 {
    background-color: #ee8972;
}

.j2:hover {
    border: solid;
    border-color: #ffffff;
    color: #ee8972;
    /* color: rgb(34, 40, 49); */
    background-color: #ffffff;
    border-width: 2;
    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.205);
}

.divstyle3 {
    background-color: #fbc57c;
    padding: 1% 0% 0% 15%;
    color: rgb(34, 40, 49);
}

.divhead2 {
    font-size: 90;
    font-family: ara hamah kilania;
    width: 50%;
    line-height: 100%;
}

.divbody2 {
    font-size: 25;
    width: 40%;
    font-family: ara hamah sahet alassi;
    margin: -23% 0 0 50%;
    display: inline-block;
}

.divbody2_2 {
    font-size: 25;
    width: 40%;
    font-family: ara hamah sahet alassi;
    margin: -12% 0 0 50%;
    display: inline-block;
}

hr {
    width: 160;
    display: inline-block;
    border: none;
    /* float: left; */
    height: 10px;
    margin-top: 5px;
}

.S_idea3 {
    /* display: inline; */
    width: 15%;
    padding-top: 2.45%;
    margin: 0 0 -7% -7%;
    left: -20;
}

.S_idea4 {
    /* display: inline; */
    width: 17%;
    padding-top: 2.45%;
    margin: -17.5% 0 0 70%;
}


.divstyle4{

    background-color: white;
    padding: 4%;
    font-family: microsoft Yahei Light;
    text-align: center;
    font-size: 350%;
}